* {
  margin: 0; 
  padding: 0; 
  background-color: white; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}


.App {
  padding: 32px; 

}

.title {
  font-size: 40px; 
  font-weight: 700;
  margin-bottom: 32px; 
  color: #202B3E;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;

}

.box {  
  background-color: #202B3E;
  max-width : 800px; 
  margin : 0 auto;
  color: #f1f5f7;
  padding : 15px 40px 50px;
  border-radius : 10px;
  box-shadow: 0 0 1em #202B3E; 
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}

.mb-3 {
  border-radius : 4px; 
}

.tache {
  margin-top: 50px; 
}

/* color :  #202B3E; */
/* shadow: #03234a;  */